<html lang="en">
<!-- HTML document with language set to English. -->
<%- include("../partials/head.ejs") %>
<!-- Include reusable <head> content. -->

<body>
  <!-- Start of main page content. -->
  <%- include("../partials/nav.ejs") %>
  <!-- Include navigation bar. -->

  <div class="details content">
    <!-- Container for blog details. -->
    <h2>Title: <%= blog.title %></h2>
    <!-- Blog title, dynamically inserted. -->
    <div class="snippet">
      <!-- Container for blog snippet. -->
      <h3>Snippet: <%= blog.snippet %></h3>
      <!-- Blog snippet, dynamically inserted. -->
    </div>

    <div class="content">
      <!-- Container for blog body. -->
      <h4>Body: <%= blog.body %></h4>
      <!-- Blog body content, dynamically inserted. -->
    </div>

    <a class="delete" data-doc="<%= blog._id %>">
      <!-- Delete link for blog, includes blog ID. -->
      <img src="/trashcan.svg" alt="delete icon">
      <!-- Delete icon image. -->
    </a>
  </div>
  <!-- "details" class for page specific styling, "content" for base styling -->

  <%- include("../partials/footer.ejs") %>
  <!-- Include footer. -->
  <script src="/trashcan.js"></script>
  <!-- Include trashcan.js script. -->
</body>

</html>